<footer>
    <div class="container">
        <p>&copy; 2025 Blake Schmitt. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../about.html">About</a></li>
            <li><a href="../projects.html">Projects</a></li>
            <li><a href="../contact.html">Contact</a></li>
        </ul>
        <div class="social-links">
            <a href="https://github.com/blake2731" target="_blank" aria-label="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/blake2731/" target="_blank" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>
